/******************************************************************************************/
/* The root containing the elements displayed in the start up screen*/
/******************************************************************************************/
#startScreenRoot {
	-fx-alignment: center;
	-fx-background-color: #d3d3d3;
	-fx-hgap: 30;
	-fx-vgap: 30;
}
/******************************************************************************************/
/* The application title to be displayed in the start up screen */
/******************************************************************************************/
#startLabel {
	-fx-text-alignment: center;
	-fx-font: 32px Excelsior;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
	-fx-effect: innershadow(gaussian, rgba(255,255,255,0.5), 0, 0, 0, 1);
}
#startLabel .text {
	-fx-stroke: #696969;
	-fx-stroke-width: 1px;
}
/******************************************************************************************/
/* The drop down choice box the user uses to pick a simulation to simulate*/
/******************************************************************************************/
#simulatorChooser {
	-fx-alignment: center;
    -fx-background-color: #ffffff;
    -fx-pref-width: 200px;
    -fx-padding: 0;
}
#simulatorChooser .list-cell {
    -fx-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-text-fill: #696969;
    -fx-text-alignment: center;
    -fx-pref-width: 150px;
	-fx-pref-height: 30px;
	-fx-background-radius: 0;
    -fx-border-width: 0px;
    -fx-border-color: #ffffff;
    -fx-text-fill: #696969;
    -fx-font: 14px Excelsior;
}
#simulatorChooser .list-view {
    -fx-background-color: #ffffff, #ffffff;
}    
#simulatorChooser .list-view .list-cell {
	-fx-alignment: center;
    -fx-background-color: #ffffff;
}
#simulatorChooser .arrow-button {
	-fx-background-color: transparent;
}
#simulatorChooser .list-view .list-cell:filled:selected, 
#simulatorChooser .list-view .list-cell:filled:selected:hover {
    -fx-background: #696969;
    -fx-background-color: #696969;
    -fx-text-fill: #ffffff;
}
#simulatorChooser .list-view .list-cell:filled:hover {
    -fx-background-color: #ffffff;
    -fx-text-fill: -fx-text-inner-color;
}
#simulatorChooser:hover {
    -fx-color: #696969;
    -fx-text-fill: #ffffff;
}
#simulatorChooser:hover .list-cell {
	-fx-background: #696969;
    -fx-background-color: #696969;
	-fx-text-fill: #ffffff;
}
#simulatorChooser:hover .arrow {
	-fx-background-color: #ffffff;
}
#simulatorChooser .text-field:focused {
	-fx-prompt-text-fill: #ffffff;
}
#simulatorChooser:showing {
    -fx-color: #ffffff;
    -fx-text-fill: #696969
}
#simulatorChooser:showing .list-cell {
	-fx-background: #ffffff;
    -fx-background-color: transparent;
    -fx-text-fill: #696969;
    -fx-text-alignment: center;
    -fx-pref-width: 150px;
	-fx-pref-height: 30px;
	-fx-background-radius: 0;
    -fx-border-width: 0px;
    -fx-border-color: #d3d3d3;
    -fx-text-fill: #696969;
    -fx-font: 14px Excelsior;
}
#simulatorChooser:showing .arrow {
	-fx-background-color: #696969;
}
#simulatorChooser:focused {
    -fx-background-color: #696969, -fx-outer-border, -fx-inner-border, -fx-body-color;
}
#simulatorChooser:disabled {
    -fx-opacity: .4;
}
/******************************************************************************************/
/* The Simulate button to begin a simulation */
/******************************************************************************************/
#simulateButton {
	-fx-pref-width: 200px;
	-fx-pref-height: 20px;
	-fx-background-radius: 0;
	-fx-background-color: #ffffff;
    -fx-border-width: 0px;
    -fx-border-color: #d3d3d3;
    -fx-text-fill: #696969;
    -fx-font: 14px Excelsior;
}
#simulateButton:disabled, #simulateButton:disabled > * {
	-fx-opacity: 0.7;
}
#simulateButton:hover {
	-fx-background-color: #696969;
} 
#simulateButton:hover {
	-fx-text-fill: #ffffff;
}
/******************************************************************************************/
/* The root containing the elements displayed in the simulation screen*/
/******************************************************************************************/
#simulateScreenRoot {
	-fx-alignment: center;
	-fx-background-color: #d3d3d3;
	-fx-hgap: 30;
	-fx-vgap: 30;
	-fx-padding: 5 5 5 5;
	-fx-border-style: solid inside;
	-fx-border-width: 0;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
/******************************************************************************************/
/* The side panel containing the control elements displayed in the simulation screen*/
/******************************************************************************************/
#simulateSidePanel {
	-fx-alignment: center;
	-fx-padding: 0 15 0 15;
	-fx-border-style: solid inside;
	-fx-border-width: 2;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
	-fx-pref-width: 200;
}
/******************************************************************************************/
/* The side panel containing the control elements displayed in the simulation screen*/
/******************************************************************************************/
#simulationInfoLabel {
	-fx-alignment: center;
	-fx-pref-width: 200;
	-fx-text-alignment: center;
	-fx-wrap-text: true;
	-fx-font: 16px Excelsior;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
	-fx-background-color: #a9a9a9;
	-fx-border-style: solid outside;
	-fx-border-width: 2;
	-fx-border-insets: 0;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
#simulationInfoLabel .text {
	-fx-stroke: #ffffff;
	-fx-stroke-width: 0px;
}
/******************************************************************************************/
/* The area of the side panel containing buttons to control the simulation */
/******************************************************************************************/
#simulationSettings {
	-fx-alignment: center;
	-fx-pref-width: 150;
	-fx-padding: 0 0 0 20;
}
/******************************************************************************************/
/* The Play button to start a paused simulation */
/******************************************************************************************/
#playButton {
	-fx-background-image: url("/playIcon.png");
	-fx-background-size: 50px 50px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-opacity: 0.6;
	-fx-pref-width: 50px;
	-fx-pref-height: 50px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-style: solid outside;
	-fx-border-width: 2;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
#playButton:hover {
    
}
#playButton:pressed {
	-fx-border-style: solid outside;
	-fx-border-width: 2;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
#playButton:disabled {
    -fx-opacity: 0.3;
}
/******************************************************************************************/
/* The Pause button to pause a running simulation */
/******************************************************************************************/
#pauseButton {
	-fx-background-image: url("/pauseIcon.png");
	-fx-background-size: 50px 50px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-opacity: 0.6;
	-fx-pref-width: 50px;
	-fx-pref-height: 50px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-style: solid outside;
	-fx-border-width: 2;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
#pauseButton:hover {
    
}
#pauseButton:pressed {
	-fx-border-style: solid outside;
	-fx-border-width: 2;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
#pauseButton:disabled {
    -fx-opacity: 0.3;
}
/******************************************************************************************/
/* The Reset button to reset a running simulation from the beginning */
/******************************************************************************************/
#resetButton {
	-fx-background-image: url("/resetIcon.png");
	-fx-background-size: 50px 50px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-opacity: 0.6;
	-fx-pref-width: 50px;
	-fx-pref-height: 50px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-style: solid outside;
	-fx-border-width: 2;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
#resetButton:hover {
    
}
#resetButton:pressed {
	-fx-border-style: solid outside;
	-fx-border-width: 2;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
#resetButton:disabled {
    -fx-opacity: 0.3;
}
/******************************************************************************************/
/* The Step button to step through a simulation frame by frame */
/******************************************************************************************/
#stepButton {
	-fx-background-image: url("/stepIcon.png");
	-fx-background-size: 50px 50px;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-opacity: 0.6;
	-fx-pref-width: 50px;
	-fx-pref-height: 50px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-border-style: solid outside;
	-fx-border-width: 2;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
#stepButton:hover {
    
}
#stepButton:pressed {
	-fx-border-style: solid outside;
	-fx-border-width: 2;
	-fx-border-insets: 1;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
}
#stepButton:disabled {
    -fx-opacity: 0.3;
}
/******************************************************************************************/
/* The slider that changes the speed of the animation */
/******************************************************************************************/
#simulateSpeedSlider {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-alignment: center;
	-fx-padding: 0 20 0 0;
	-fx-pref-width: 100;
}
/******************************************************************************************/
/* The label that indicates the speed of the animation */
/******************************************************************************************/
#simulateSpeedLabel {
	-fx-alignment: center;
	-fx-pref-width: 130;
	-fx-text-alignment: center;
	-fx-wrap-text: true;
	-fx-font: 12px Excelsior;
	-fx-font-weight: bold;
	-fx-text-fill: #696969;
	-fx-padding: 0 15 0 0;
}
#simulateSpeedLabel .text {
	-fx-stroke: #ffffff;
	-fx-stroke-width: 0px;
}
/******************************************************************************************/
/* The panel containing the cell objects */
/******************************************************************************************/
#simulateCellPanel {
	-fx-alignment: center;
	-fx-padding: 1 1 1 1;
	-fx-border-style: solid inside;
	-fx-border-width: 0;
	-fx-border-insets: 0.5;
	-fx-border-radius: 1;
	-fx-border-color: #696969;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: #d3d3d3;
}
#simulateCellPanel > .viewport{
	-fx-background-color: transparent;
}
/******************************************************************************************/
/* The default Cell object */
/******************************************************************************************/
#defaultCell {
	-fx-fill: #696969;
}
}